// COLORS ---------------------------------------------------------------------
$black: #000;
$cinza: #585757;
$white: #fff;
$primary:#8A05BE;
$secundary:#f1cdff;
$secundary__hover: #db95f7;

// FONTS ----------------------------------------------------------------------
$font-especial: "Open Sans", sans-serif;
$font-subtitle: "Open Sans", sans-serif;
$font-title: "Open Sans", sans-serif;
// SCREEN-SIZE ----------------------------------------------------------------
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
