/* MOBILE STYLES ------------------------------------------------------------*/
/* BUTTONS ------------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,500&display=swap");
.black {
  color: #000; }

.white {
  color: #fff; }

.corPadrao {
  color: #554af0; }

/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: #fff;
  border-bottom: 1px solid #000;
  border: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 100%; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin-top: 10px; }

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 10px; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* MOBILE STYLES ------------------------------------------------------------*/
body {
  font-family: 'Rubik', sans-serif; }

/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY --------------------------------------------------------------*/
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px; }

.header__logo {
  cursor: pointer;
  margin: 15px; }

.header__hamburguer {
  background: none;
  width: 26px;
  height: 25px;
  border: none;
  position: relative;
  margin-right: 27px;
  margin-top: 3px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2; }
  .header__hamburguer--active span {
    transform: rotate(45deg) translate(2px, 2px); }
    .header__hamburguer--active span:before {
      transform: rotate(-90deg) translate(6px, 0px); }
  .header__hamburguer span {
    width: 15px;
    height: 2px;
    position: absolute;
    top: 9px;
    background-color: #585757;
    transition: all .3s linear; }
    .header__hamburguer span::before {
      content: '';
      width: 15px;
      height: 2px;
      top: 6px;
      right: 0;
      position: absolute;
      background-color: #585757;
      transition: all .3s linear; }

.header__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-100vh);
  height: calc(100vh - 63px);
  transition: transform 0.2s ease-out 0s;
  padding: 37px 0px; }

.header .show {
  transform: translateY(63px); }

.header ul li {
  list-style: none; }
  .header ul li.active a {
    color: #8A05BE;
    font-weight: 500; }
  .header ul li.login a {
    color: #8A05BE;
    font-weight: 500; }
  .header ul li a {
    color: #585757;
    font-size: 17px;
    line-height: 40px;
    text-decoration: none; }
    .header ul li a.novo:after {
      content: 'novo';
      margin-left: 15px;
      background-color: #f1cdff;
      padding: 5px 15px;
      border-radius: 10px; }
    .header ul li a i {
      margin-left: 5px; }
    .header ul li a:hover {
      color: #db95f7; }
